In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from datetime import datetime

# Merge Tweet data

In [4]:
load_from = '../data collection/Data/ModelData/byDate'
save_to = '../data collection/Data/ModelData/allTweets2.csv'
pathlist = Path(load_from).glob('todaysTweets_2018-*.csv')
results = pd.DataFrame([])
for p in pathlist:
    file = pd.read_csv(p,sep=';')
    results = results.append(file)
results.to_csv(save_to,sep=';',index=False)

# Check

In [5]:
path = '../data collection/Data/ModelData/allTweets2.csv'
file = pd.read_csv(path,sep=';')
file.head()

          Account nTweets pHashtags pMentions pURLs pMedia pRTs        date
0      bonappetit      24       0.0    0.0417  0.75   0.25  0.0  2018-02-24
1      NatGeoFood       0       0.0       0.0   0.0    0.0  0.0  2018-02-24
2     TwitterFood       0       0.0       0.0   0.0    0.0  0.0  2018-02-24
3      Fooddotcom       0       0.0       0.0   0.0    0.0  0.0  2018-02-24
4  newfoodeconomy       5       0.0       0.0   1.0    0.2  0.0  2018-02-24

In [6]:
len(file)

10317

# Merge Followers

In [12]:
path = '../data collection/Data/ModelData/Followers/todaysFollowers_all.csv'
file = pd.read_csv(path,sep=';')
file = pd.DataFrame.drop_duplicates(file,subset="Account")
melted = pd.melt(file,id_vars = ['Account'])
#melted.names()
melted.columns = ['Account', 'date', 'Followers']
melted.date = melted.date.apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))

In [14]:
low = datetime.strptime('2018-02-23','%Y-%m-%d')
#high = datetime.strptime('2018-04-03','%Y-%m-%d')
final = melted[melted['date']>low]
#final = final[final.date < high]

In [16]:
save_to = '../data collection/Data/ModelData/allFollowers.csv'
final.to_csv(save_to,sep=';',index=False)

In [13]:
print(len(file))
final.head()

181

             Account       date  Followers
2392      bonappetit 2018-02-24  3191547.0
2393      NatGeoFood 2018-02-24    35479.0
2394     TwitterFood 2018-02-24   838307.0
2395      Fooddotcom 2018-02-24       28.0
2396  newfoodeconomy 2018-02-24     5905.0

In [15]:
print(len(final))

10317

# Merge Tweets and Followers

In [17]:
followers_path = '../data collection/Data/ModelData/allFollowers.csv'
data_path = '../data collection/Data/ModelData/allTweets2.csv'
followers = pd.read_csv(followers_path,sep=';')
data = pd.read_csv(data_path,sep=';')

In [18]:
modelData = data.merge(followers, how = 'inner', on=['Account','date'])

In [19]:
print(len(modelData))
modelData.head()

10317

,Account,nTweets,pHashtags,pMentions,pURLs,pMedia,pRTs,date,Followers
0,bonappetit,24,0.0,0.0417,0.75,0.25,0.0,2018-02-24,3191547.0
1,NatGeoFood,0,0.0,0.0,0.0,0.0,0.0,2018-02-24,35479.0
2,TwitterFood,0,0.0,0.0,0.0,0.0,0.0,2018-02-24,838307.0
3,Fooddotcom,0,0.0,0.0,0.0,0.0,0.0,2018-02-24,28.0
4,newfoodeconomy,5,0.0,0.0,1.0,0.2,0.0,2018-02-24,5905.0

In [20]:
print(modelData.date.unique())

['2018-02-24' '2018-02-25' '2018-02-26' '2018-02-27' '2018-02-28'
 '2018-03-01' '2018-03-02' '2018-03-03' '2018-03-04' '2018-03-05'
 '2018-03-06' '2018-03-07' '2018-03-08' '2018-03-09' '2018-03-10'
 '2018-03-11' '2018-03-12' '2018-03-13' '2018-03-14' '2018-03-15'
 '2018-03-16' '2018-03-17' '2018-03-18' '2018-03-19' '2018-03-20'
 '2018-03-21' '2018-03-22' '2018-03-23' '2018-03-24' '2018-03-25'
 '2018-03-26' '2018-03-27' '2018-03-28' '2018-03-29' '2018-03-30'
 '2018-03-31' '2018-04-01' '2018-04-02' '2018-04-03' '2018-04-04'
 '2018-04-05' '2018-04-06' '2018-04-07' '2018-04-08' '2018-04-09'
 '2018-04-10' '2018-04-11' '2018-04-12' '2018-04-13' '2018-04-14'
 '2018-04-15' '2018-04-16' '2018-04-17' '2018-04-18' '2018-04-19'
 '2018-04-20' '2018-04-21']

In [21]:
save_to = '../data collection/Data/ModelData/modelData2.csv'
modelData.to_csv(save_to,sep=';',index=False)

# Check

In [22]:
path = '../data collection/Data/ModelData/modelData2.csv'
file = pd.read_csv(path,sep=';')
print(len(file))
file.head()

10317

,Account,nTweets,pHashtags,pMentions,pURLs,pMedia,pRTs,date,Followers
0,bonappetit,24,0.0,0.0417,0.75,0.25,0.0,2018-02-24,3191547.0
1,NatGeoFood,0,0.0,0.0,0.0,0.0,0.0,2018-02-24,35479.0
2,TwitterFood,0,0.0,0.0,0.0,0.0,0.0,2018-02-24,838307.0
3,Fooddotcom,0,0.0,0.0,0.0,0.0,0.0,2018-02-24,28.0
4,newfoodeconomy,5,0.0,0.0,1.0,0.2,0.0,2018-02-24,5905.0