In [1]:
import numpy as np
import pandas as pd
import json
from datetime import datetime,timedelta
from pytz import timezone

In [2]:
with open('../data collection/Data/NoDup/todaysTweets_2018-02-24.json','r') as fp: #load historic tweets
    test_json = json.load(fp)
test = pd.read_json(test_json)

In [3]:
def getData(l):
    nTweets = len(l)
    if nTweets == 0:
        return '0,0,0,0,0,0'
    nHashtags = 0
    nMentions = 0
    nURLs = 0
    nMedia = 0
    nRT = 0
    for t in l:
        if bool (t['entities']['hashtags']) :
            nHashtags += 1
        if bool (t['entities']['user_mentions']) :
            nMentions += 1
        if bool (t['entities']['urls']) :
            nURLs += 1
        if 'media' in t['entities']:
            nMedia += 1
        if 'retweeted_status' in t:
            nRT += 1
    r = [nTweets,nHashtags/nTweets,nMentions/nTweets,nURLs/nTweets,nMedia/nTweets,nRT/nTweets]
    r = [round(x,4) for x in r]
    return ','.join(str(e) for e in r)

In [4]:
df = pd.DataFrame()
df['data'] = test['2018-02-24'].apply(getData)
df = df.data.str.split(',',expand=True)
df.columns = ['nTweets','pHashtags', 'pMentions', 'pURLs', 'pMedia', 'pRTs']

In [5]:
df.head()

  nTweets pHashtags pMentions pURLs pMedia pRTs
0      24       0.0    0.0417  0.75   0.25  0.0
1       0         0         0     0      0    0
2       0         0         0     0      0    0
3       0         0         0     0      0    0
4       5       0.0       0.0   1.0    0.2  0.0

In [7]:
test = test.join(df)

In [13]:
test['date'] = test.columns[0]

In [ ]:
test.drop(0)