In [39]:
import numpy as np
import pandas as pd
import json
#from datetime import datetime,timedelta
#from pytz import timezone
from pathlib import Path

In [34]:
def loadJson(path):
    '''returns datarfame from json file'''
    with open(path,'r') as fp: #load historic tweets
        tweets_json = json.load(fp)
    return pd.read_json(tweets_json)

In [37]:
def saveDataFrame(df,path):
    '''save DataFerame in csv format'''
    df.to_csv(path,sep=';',index=False)

In [97]:
def getData(l):
    if not(type(l)==list):
        return 'Null,Null,Null,Null,Null,Null'
    nTweets = len(l)
    if nTweets == 0:
        return '0,0,0,0,0,0'
    nHashtags = 0
    nMentions = 0
    nURLs = 0
    nMedia = 0
    nRT = 0
    for t in l:
        if bool (t['entities']['hashtags']) :
            nHashtags += 1
        if bool (t['entities']['user_mentions']) :
            nMentions += 1
        if bool (t['entities']['urls']) :
            nURLs += 1
        if 'media' in t['entities']:
            nMedia += 1
        if 'retweeted_status' in t:
            nRT += 1
    r = [nTweets,nHashtags/nTweets,nMentions/nTweets,nURLs/nTweets,nMedia/nTweets,nRT/nTweets]
    r = [round(x,4) for x in r]
    return ','.join(str(e) for e in r)

In [30]:
def generateModelData(json_df):
    df = pd.DataFrame() #aux DataFrame
    date = json_df.columns[0]
    df['data'] = json_df[date].apply(getData) #Collect all attributes into a single column
    df = df.data.str.split(',',expand=True) #split into different columns
    df.columns = ['nTweets','pHashtags', 'pMentions', 'pURLs', 'pMedia', 'pRTs']
    json_df = json_df.join(df) #join to main DataFrame
    json_df['date'] = date #add date
    json_df = json_df.drop(columns = [date], axis =1) #drop tweet list
    return json_df

In [98]:
load_from = '../data collection/Data/ModelData/Tweets'
save_to = '../data collection/Data/ModelData/byDate/'
pathlist = Path(load_from).glob('*.json')
for p in pathlist:
    tweets = loadJson(p)
    date = p.name[13:-5]
    if tweets[date].isnull().any():
        print(tweets[tweets[date].isnull()])
    modelData = generateModelData(tweets)
    saveDataFrame(modelData,path=save_to+p.name[:-5]+'.csv')
    print('Holi')

   2018-03-13     Account
43       None  sportbible
Holi
   2018-03-14     Account
43       None  sportbible
Holi
    2018-03-15          Account
43        None       sportbible
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-16          Account
43        None       sportbible
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-17          Account
43        None       sportbible
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-18          Account
43        None       sportbible
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-19          Account
43        None       sportbible
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-20          Account
43        None       sportbible
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-21          Account
43        None       sportbible
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-22          Account
43        None       sportbible
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-23          Account
43        None       sportbible
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-24          Account
43        None       sportbible
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-25          Account
43        None       sportbible
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-26          Account
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-27          Account
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-28          Account
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-29          Account
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-30          Account
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-03-31          Account
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-04-01          Account
49        None       Earth_Pics
146       None  fabulousanimals
Holi
    2018-04-02          Account
49        None       Earth_Pics
146       None  fabulousanimals
Holi

In [76]:
test = loadJson('../data collection/Data/ModelData/Tweets/todaysTweets_2018-03-16.json')

In [78]:
test['2018-03-16'].isnull().sum()

3

In [68]:
test.isnull().values.any()

False

In [36]:
modelData.head()

          Account nTweets pHashtags pMentions pURLs pMedia pRTs        date
0      bonappetit      24       0.0    0.0417  0.75   0.25  0.0  2018-02-24
1      NatGeoFood       0         0         0     0      0    0  2018-02-24
2     TwitterFood       0         0         0     0      0    0  2018-02-24
3      Fooddotcom       0         0         0     0      0    0  2018-02-24
4  newfoodeconomy       5       0.0       0.0   1.0    0.2  0.0  2018-02-24

In [20]:
# join collected tweet data with account data
accounts_df = pd.read_csv('../data collection/Data/accounts.csv',sep=";")
test = test.merge(accounts_df,how='inner',on='Account')

In [28]:
followers_df = pd.read_csv('../data collection/Data/todaysFollowers_'+date+'.csv',sep = ';')

FileNotFoundError: File b'../data collection/Data/todaysFollowers_2018-02-24.csv' does not exist

In [25]:
test.tail()

,Account,nTweets,pHashtags,pMentions,pURLs,pMedia,pRTs,date,Category
179,BigCheds,54,0.4444,0.1667,0.3148,0.5,0.1667,2018-02-24,Trading&Finance
180,DanielsTrading,0,0,0,0,0,0,2018-02-24,Trading&Finance
181,canuck2usa,3,0.0,0.0,0.3333,0.0,0.0,2018-02-24,Trading&Finance
182,BourseetTrading,60,0.95,0.9833,0.7,0.0,0.85,2018-02-24,Trading&Finance
183,tradingview,6,0.0,0.0,1.0,0.0,0.0,2018-02-24,Trading&Finance

In [88]:
a = True
not a

False

In [65]:
accounts_df['Account'][43]

'sportbible'