In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from datetime import datetime

# Merge Tweet data

In [27]:
load_from = '../data collection/Data/ModelData/byDate'
save_to = '../data collection/Data/ModelData/allTweets.csv'
pathlist = Path(load_from).glob('todaysTweets_2018-*.csv')
results = pd.DataFrame([])
for p in pathlist:
    file = pd.read_csv(p,sep=';')
    results = results.append(file)
results.to_csv(save_to,sep=';',index=False)

# Check

In [28]:
path = '../data collection/Data/ModelData/allTweets.csv'
file = pd.read_csv(path,sep=';')
file.head()

          Account nTweets pHashtags pMentions pURLs pMedia pRTs        date
0      bonappetit      24       0.0    0.0417  0.75   0.25  0.0  2018-02-24
1      NatGeoFood       0       0.0       0.0   0.0    0.0  0.0  2018-02-24
2     TwitterFood       0       0.0       0.0   0.0    0.0  0.0  2018-02-24
3      Fooddotcom       0       0.0       0.0   0.0    0.0  0.0  2018-02-24
4  newfoodeconomy       5       0.0       0.0   1.0    0.2  0.0  2018-02-24

In [29]:
len(file[file.date == '2018-02-24'])

181

# Merge Followers

In [52]:
path = '../data collection/Data/ModelData/Followers/todaysFollowers_all.csv'
file = pd.read_csv(path,sep=';')
melted = pd.melt(file,id_vars = ['Account'])
#melted.names()
melted.columns = ['Account', 'date', 'Followers']
melted.date = melted.date.apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))

In [53]:
low = datetime.strptime('2018-02-23','%Y-%m-%d')
high = datetime.strptime('2018-04-03','%Y-%m-%d')
final = melted[melted['date']>low]
final = final[final.date < high]

In [54]:
save_to = '../data collection/Data/ModelData/allFollowers.csv'
final.to_csv(save_to,sep=';',index=False)

In [55]:
print(len(file))
final.head()

181

             Account       date  Followers
2353      bonappetit 2018-02-24  3191547.0
2354      NatGeoFood 2018-02-24    35479.0
2355     TwitterFood 2018-02-24   838307.0
2356      Fooddotcom 2018-02-24       28.0
2357  newfoodeconomy 2018-02-24     5905.0

# Merge Tweets and Followers

In [56]:
followers_path = '../data collection/Data/ModelData/allFollowers.csv'
data_path = '../data collection/Data/ModelData/allTweets.csv'
followers = pd.read_csv(followers_path,sep=';')
data = pd.read_csv(data_path,sep=';')

In [59]:
modelData = data.merge(followers, how = 'inner', on=['Account','date'])

In [61]:
save_to = '../data collection/Data/ModelData/modelData.csv'
modelData.to_csv(save_to,sep=';',index=False)

# Check

In [63]:
path = '../data collection/Data/ModelData/modelData.csv'
file = pd.read_csv(path,sep=';')
print(len(file))
file.head()

6878

,Account,nTweets,pHashtags,pMentions,pURLs,pMedia,pRTs,date,Followers
0,bonappetit,24,0.0,0.0417,0.75,0.25,0.0,2018-02-24,3191547.0
1,NatGeoFood,0,0.0,0.0,0.0,0.0,0.0,2018-02-24,35479.0
2,TwitterFood,0,0.0,0.0,0.0,0.0,0.0,2018-02-24,838307.0
3,Fooddotcom,0,0.0,0.0,0.0,0.0,0.0,2018-02-24,28.0
4,newfoodeconomy,5,0.0,0.0,1.0,0.2,0.0,2018-02-24,5905.0