In [33]:
import numpy as np
import pandas as pd
from pathlib import Path
from datetime import datetime

# Merge Tweet data

In [15]:
load_from = '../data collection/Data/ModelData/byDate'
save_to = '../data collection/Data/ModelData/allTweets.csv'
pathlist = Path(load_from).glob('*.csv')
results = pd.DataFrame([])
for p in pathlist:
    file = pd.read_csv(p,sep=';')
    results = results.append(file)
results.to_csv(save_to,sep=';',index=False)

# Check

In [19]:
path = '../data collection/Data/ModelData/allTweets.csv'
file = pd.read_csv(path,sep=';')
file.head()

          Account nTweets pHashtags pMentions pURLs pMedia pRTs        date
0      bonappetit      24       0.0    0.0417  0.75   0.25  0.0  2018-02-24
1      NatGeoFood       0       0.0       0.0   0.0    0.0  0.0  2018-02-24
2     TwitterFood       0       0.0       0.0   0.0    0.0  0.0  2018-02-24
3      Fooddotcom       0       0.0       0.0   0.0    0.0  0.0  2018-02-24
4  newfoodeconomy       5       0.0       0.0   1.0    0.2  0.0  2018-02-24

# Merge Followers

In [26]:
path = '../data collection/Data/ModelData/Followers/todaysFollowers_all.csv'
file = pd.read_csv(path,sep=';')
melted = pd.melt(file,id_vars = ['Account'])
melted.names()
melted.columns = ['Account', 'date', 'Followers']
melted.date = melted.date.apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))

In [44]:
cut = datetime.strptime('2018-02-23','%Y-%m-%d')
final = melted[melted['date']>cut]

In [45]:
save_to = '../data collection/Data/ModelData/allFollowers.csv'
final.to_csv(save_to,sep=';',index=False)

# Merge Tweets and Followers

In [46]:
followers_path = '../data collection/Data/ModelData/allFollowers.csv'
data_path = '../data collection/Data/ModelData/allTweets.csv'
followers = pd.read_csv(followers_path,sep=';')
data = pd.read_csv(data_path,sep=';')

In [48]:
modelData = data.merge(followers, how = 'inner', on=['Account','date'])

In [51]:
save_to = '../data collection/Data/ModelData/modelData.csv'
modelData.to_csv(save_to,sep=';',index=False)

# Check

In [52]:
path = '../data collection/Data/ModelData/modelData.csv'
file = pd.read_csv(path,sep=';')
file.head()

,Account,nTweets,pHashtags,pMentions,pURLs,pMedia,pRTs,date,Followers
0,bonappetit,24,0.0,0.0417,0.75,0.25,0.0,2018-02-24,3191547.0
1,bonappetit,24,0.0,0.0417,0.75,0.25,0.0,2018-02-24,3191547.0
2,NatGeoFood,0,0.0,0.0,0.0,0.0,0.0,2018-02-24,35479.0
3,NatGeoFood,0,0.0,0.0,0.0,0.0,0.0,2018-02-24,35479.0
4,TwitterFood,0,0.0,0.0,0.0,0.0,0.0,2018-02-24,838307.0